.dot-container {
    display: flex;
    width: fit-content;
}

/*Sirkelen*/
.buy-dot, .do-dot {
    width: .7em;
    height: .7em;
    margin: .2em;
    border-radius: 50%;
}

.buy-dot {
    background: rgb(20, 111, 163);
}

.do-dot {
    background: rgb(150, 118, 16);
}


/*Popup med info om oppdraget*/
.dot-info {
    width: 15vw;
    min-width: 5em;
    height: auto;
    opacity: 0;
    padding: 1em;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border: gray;
    background: rgba(0, 0, 0, .5);
    border-radius: 1em;
    color: white;
}

.dot-info, p {   
    font-size: 1rem;
    margin-top: .2em;
}



