.App {
  text-align: center;
}

body {
  background-image: url("./img/korktavle.png");
  background-position: cover;
  overflow-x: hidden; 
  font-family: "Roboto", sans-serif;
}

header {
  height: 15vh;
}

main {
  margin: 2em auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

p {
  font-size: 1.4rem;
}

#list_wrap {
  width: 90vw;
  max-width: 60em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
  justify-items: center;
  position: relative;   
}


